body{
background:#0f172a;
color:white;
font-family:Arial;
padding:40px;
}

h1{
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit, minmax(260px,1fr));
gap:20px;
}

.card{
background:#1e1e1e;
color:white;
padding:20px;
border-radius:10px;
}

.barra{
height:18px;
background:#334155;
border-radius:10px;
overflow:hidden;
}

.progresso{
height:100%;
}

.verde{background:#22c55e;}
.amarelo{background:#facc15;}
.vermelho{background:#ef4444;}

.green{color:#22c55e;}
.yellow{color:#facc15;}
.red{color:#ef4444;}

button{
background:#3b82f6;
color:white;
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
margin-top:5px;
}

input{
padding:6px;
margin-top:5px;
border-radius:6px;
border:none;
}